*.kpf
*.mo
*.pyc
*~
.*.cfg
.*.sw?
.bzr/
.hg/
.idea
.project
.pydevproject
.su?
.su?
.svn/
.sw?
builds/*

analytics.js
inverse-analytics.js

# python/buildout
*.egg-info
*.pyc
.Python
build
converse.js.egg-info/
eggs
parts
parts

dev-jc.html
inverse-dev.html
inverse-dev-jc.html

converse-logs/*.html

# Ruby/Sass/Bundler
.bundle
.sass-cache
ruby
bourbon

Backbone.Overview
tags
stamp-npm
stamp-bundler
transpile

# Sphinx
docs/html
docs/doctrees

# Node.js
node_modules

# Virtualenv/Buildout
lib
include
bin
develop-eggs

# OSX
.DS_Store

# Builds
.sv?
/vendor/
